/* font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif; */
*{
  box-sizing: border-box;
}

body {
	font-family: Arial;
	/*padding-right: 200px;
	padding-left: 200px;*/
	margin: auto;
	width: 1100px;
	background: #999999;
	padding-top: 15px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Header/Blog Title */
.header {
	padding: 5px;
	text-align: center;
	/*background: #f4f6fb;*/
	background: white;
	color: #004d28;
}

.header h1 {
	font-size: 28px;
	font-family:Arial Narrow;
}

.header h2 {
	font-size: 20px;
	font-family:Arial Narrow;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	background-color: #f4f6fb;
	width: 750px;
	display: table-cell;
}

/* Right column */
.rightcolumn {
  width: 350px;
  background-color: #f4f6fb;
  padding-left: 10px;
  display: table-cell;
}

/* Add a card effect for articles */
.card {
  /*background-color: #f4f6fb;*/
  /*border-radius: 20px;*/
  /*background-image: linear-gradient(#ffffff, #ebebe0);*/
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 50px;
  /*font-family:Times;*/
  line-height:22px;
  font-size: 19px;
  color:#007399;
  font-family:Arial Narrow;
}

.card_news {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 21px;
  color:#004d28;
  font-family:Arial Narrow;
}

.card_bar {
  margin-left: 10px;
  padding-left: 50px;
}

.card p{
	font-size: 16px;
	font-family:Arial;
	color: black;
}

.card h2{
	font-size: 20px;
	color:#007399;
	font-family:Arial Narrow;
}

.card_for_important_date {
  /*background-color: #f4f6fb;*/
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
  width: auto;
}

/* Footer */
.footer {
  padding: 50px;
  text-align: center;
  background: #f4f6fb;
  margin-bottom: 20px;
}

/* navigation dropdown menu */
.navbar {
  overflow: hidden;
  background-color: #008040;
  font-family: Arial Narrow;
  /*font-stretch: extra-condensed;*/
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: #008040;
  font-family: inherit;
  margin: 0;
  /*font-stretch: extra-condensed;*/
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #00cc66;
  color: white;
}

.homebtn{
	border-right: 1px solid white;
	background-color: #00cc66;
	color: white;
}

.otherbtn{
	border-right: 1px solid white;
}

.otherbtn:hover {
	background-color: #00cc66;
	color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008040;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family:Arial;
  font-size: 17px;
  border-bottom: 1px solid white;
  font-weight: normal;
  font-stretch: ultra-condensed;
}


.dropdown-content a:hover {
  background-color: #00cc66;  
  border-left: none;
  border-right: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
